@font-face {
    font-family: GothamBlack;
    src: url(./assets/gotham/Gotham-Black.otf);
}

@font-face {
    font-family: GothamLight;
    src: url(./assets/gotham/Gotham-Light.otf);
}

@font-face {
    font-family: GothamBold;
    src: url(./assets/gotham/Gotham-Bold.otf);
}

.App {
  text-align: center;
  height: 90vh;
}

.App-logo {
  
  height: 100px;
}

.goCamille {
    height: 350px;
    
}

.goMiria {
    height: 350px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100vw;
  margin: 0 auto;
  min-height: 100vh;
  background-image: url("assets/bg.jpg");
/*  background-image: linear-gradient(to right, #fce4f5 0%, #d3dded 51%, #fce7f6 100%);*/
}

.mermaidleft{
    height: 80vh;
    width: auto;
    left: 0;
    top: 0;
    position: absolute;
 
}

.mermaidright{
    height: 80vh;
    width: auto;
    right: 0;
    top: 0;
    position: absolute;
   
}

.homeheader{
    height: 100px;
    width: 100%;
    position: relative;
    top: 0px;
    margin-bottom: 5%;
}

.bottom-items{
    position: relative;
    margin-top: 5%;
    
}

.heading1{
    position: relative;
    font-family: 'GothamBlack';
    font-size: 72px;
    background: rgba(255,0,217,1);
    background: -moz-linear-gradient(left, rgba(255,0,217,1) 0%, rgba(23,167,153,1) 91%, rgba(0,184,147,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,0,217,1)), color-stop(91%, rgba(23,167,153,1)), color-stop(100%, rgba(0,184,147,1)));
    background: -webkit-linear-gradient(left, rgba(255,0,217,1) 0%, rgba(23,167,153,1) 91%, rgba(0,184,147,1) 100%);
    background: -o-linear-gradient(left, rgba(255,0,217,1) 0%, rgba(23,167,153,1) 91%, rgba(0,184,147,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,0,217,1) 0%, rgba(23,167,153,1) 91%, rgba(0,184,147,1) 100%);
    background: linear-gradient(to right, rgba(255,0,217,1) 0%, rgba(23,167,153,1) 91%, rgba(0,184,147,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff00d9', endColorstr='#00b893', GradientType=1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading2{
    position: relative;
    top: -60px;
    font-family: 'GothamBold';
    font-size: 18px;
    color: #06B393;
}

.btn {
  flex: 1 1 auto;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 14px 26px -12px rgba(84, 29, 118, 0.32), 0 4px 23px 0px rgba(84, 29, 118, 0.12), 0 8px 10px -5px rgba(56, 29, 118, 0.2);
  border-radius: 10px;
  border:none;
  cursor: pointer;
 }


.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-2 {
  background-image: linear-gradient(to right, #ff00d9 0%, #00b893 100%);
}

.btn-3 {
  background-image: linear-gradient(to right, #00b893 0%, #ff00d9 100%);
  border-radius: 50px;
  padding: 1%;
}

.navitems{
    position: relative;
    width: 80vw;
}

.ico-home{
    height: 220px;
    margin-right: 2%;
    cursor: pointer;
}

/*.cards {
    width: 80%;
    height: 70vh;
    padding-top: 10%;
    background-color: white;
    box-shadow: 0 14px 26px -12px rgba(84, 29, 118, 0.32), 0 4px 23px 0px rgba(84, 29, 118, 0.12), 0 8px 10px -5px rgba(56, 29, 118, 0.2);
}*/

.input {
	position:relative;
	font-size: 1.0em;
	background: white;
	padding: 1%;
	display: inline-block;
	border-radius: 15px;
    border: 2px solid rgba(0,184,147,1); 
	}

.input-1{
    width: 30%;
    height: 30px;
}

.peopleonline {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    left: 0;
    top: 20%;
    flex-wrap: wrap;
    width: 15vw;
    margin: 0 auto;
    min-height: 50vh;
    background-color: white;
    
}

.close {
    position: absolute;
    right: 1%;
    top: 2%;
    cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*stickers*/
#display {
    width:100vw;
    height:100vh;
    position:fixed;
    left:0;
    top:0;
    background-image: url("assets/bg.jpg");
    cursor:none;
}

#controls {
    width:50vw;
    height:95px;
    position:fixed;
    bottom:0;
    right:0;
    background-color:#BADD;
}

#myImg {
    position:absolute;
}

.allImgs {
    position:absolute;
}

/*TRIVIA*/

.triviaHeading2{
    width: 10%;
}

.container-2 {
    display: flex;
    justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}


/*player view*/

.playerQ{
    justify-content: center;
  align-items: center;
  align-content: center;
   min-height: 100vh;
  background-image: url("assets/bg.jpg"); 
}

.btn-4{
    font-family: GothamLight;
    background-image: linear-gradient(to right, #ff00d9 0%, #00b893 100%);
}

.options{
   display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto; 
}

.question{
    font-family: GothamLight;
    color: white;
}


/*host view*/
.hostQ{
  justify-content: center;
  align-items: center;
  align-content: center;
   min-height: 100vh;
 background-image: url("assets/bg.jpg");
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto; 
}

/*GO BACK BUTTON*/
.goBack{
    width: 5%;
    margin-left: 80%;
    /*margin-top: 2%;*/
}

/*ROOMS BG*/

.roomBG{
    background-image: url("assets/bg.jpg");
    width:100vw;
    height:100vh;
    
}


/*CHAT*/

.chatbox {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 60vw;
  margin: 0 auto;
  height: 70vh;
  background-color: white;
  box-shadow: 0 14px 26px -12px rgba(84, 29, 118, 0.32), 0 4px 23px 0px rgba(84, 29, 118, 0.12), 0 8px 10px -5px rgba(56, 29, 118, 0.2);
}

.chat {
    position: relative;
    height: auto;
    margin-top: 3%;
    width: 90vw;
}

#chatDisplay{
    position: relative;
    top: 0;
    height: 40vh;
    width: 95%;
    overflow: scroll;
    background-color: #f3fcf9;
    
}

.joinchat{
    position: relative;
    padding-top: 10%;
    height: 40vh;
    width: 95%;
}

#sendmessageblock{
    width:100vw;
    height:85px;
    position:fixed;
    bottom:0;
    right:0;
    background-color:#BADD;
}

.namesonline{
    font-family: GothamLight;
    color: #9803c4;
    white-space: pre-line;
    width:100%;
    text-align: center;
}


