.App{
    text-align: center;
}

.socialMedia {
   height: 40px;
    position: absolute;
    margin-left: 62%;
    margin-top: 23%;
    
    
}

.miriaProfile {
    height: 100%;
    width: 100%;
   
}

.arrow {
    position: absolute;
    width: 25px;
    margin-left: -1200px;
    margin-top: 3%;
}

.job{
    position: absolute;
    font-family: Gotham;
    margin-left: 25%;
    margin-top: 22%;
}

@font-face {
    font-family: Gotham;
    src: url(./assets/gotham/Gotham-Light.otf);
}